

<p-dataView #dv [value]="books$ | async" layout="list" [rows]="4">
  <ng-template let-book pTemplate="listItem" let-column>
    <div class="col-12 md:col-12">
      <h1>
        {{book.id}} Book 
      </h1>
    </div>

    <div class="col-12 md:col-6">
      {{columns[1].colTitle}}:  {{book.title}}
    </div>
    <div class="col-12 md:col-6 align-items-center">
      {{columns[2].colTitle}}:  {{book.author}}
    </div>
    <div class="col-12 md:col-12">
      {{book.description}}
    </div>
  </ng-template>
</p-dataView>